.visible {
    display: block;
}

.invisible {
    display: none;
}

.cabecera {
    height: 100% !important;
}

#formulario-oraculo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.2;
    text-align: justify;
}

input[type=text] {
    width: 320px;
    padding: 12px 20px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: "Josefin Sans", Sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-color: #000000ba;
    color: white;
}

input[type=text]:focus {
    outline: none;
}

.send-message {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  color: #85ff7a;
}

.box-signos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.img-signo {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.img-signo-seleccionado {
  background-image: url("../img/signo-seleccionado.png");
  background-position: center;
  background-size: cover;
}

#text-dia {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-horoscopos {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.nombre-signo {
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}

.prediccion {
  font-size: 20px;
  font-weight: 300;
  background-color: #ffffff17;
  padding: 15px;
  border-radius: 5px;
}

.fecha-signo {
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px
}

/*ANIMACIÓN CARGANDO*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/*FIN ANIMACIÓN CARGANDO*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .cabecera {
        padding-top: 50px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    input[type=text] {
        width: 900px;
        margin-top: 50px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .cabecera {
        height: 100% !important;
    }

    .subtitulo {
      font-size: 24px;
    }
}
