RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# redirección de urls limpias hacia carpetas AMOR
RewriteRule ^oraculo-amor-distancia$ /oraculos/amor/oraculo-amor-distancia.html [L]
RewriteRule ^oraculo-amor-prohibido$ /oraculos/amor/oraculo-amor-prohibido.html [L]
RewriteRule ^oraculo-destino-sentimental$ /oraculos/amor/oraculo-destino-sentimental.html [L]
RewriteRule ^oraculo-gusto-crush$ /oraculos/amor/oraculo-gusto-crush.html [L]
RewriteRule ^oraculo-me-ama$ /oraculos/amor/oraculo-me-ama.html [L]
RewriteRule ^oraculo-me-es-infiel$ /oraculos/amor/oraculo-me-es-infiel.html [L]
RewriteRule ^oraculo-me-extraña$ /oraculos/amor/oraculo-me-extraña.html [L]
RewriteRule ^oraculo-ex-volvera$ /oraculos/amor/oraculo-ex-volvera.html [L]
RewriteRule ^oraculo-triangulo-amoroso$ /oraculos/amor/oraculo-triangulo-amoroso.html [L]
RewriteRule ^oraculo-volveremos-juntos$ /oraculos/amor/oraculo-volveremos-juntos.html [L]

# redirección de urls limpias hacia carpetas DINERO
RewriteRule ^oraculo-abundancia$ /oraculos/dinero/oraculo-abundancia.html [L]
RewriteRule ^oraculo-conseguire-trabajo$ /oraculos/dinero/oraculo-conseguire-trabajo.html [L]
RewriteRule ^oraculo-economia$ /oraculos/dinero/oraculo-economia.html [L]
RewriteRule ^oraculo-ganare-dinero$ /oraculos/dinero/oraculo-ganare-dinero.html [L]
RewriteRule ^oraculo-negocio-exito$ /oraculos/dinero/oraculo-negocio-exito.html [L]
RewriteRule ^oraculo-oportunidad-dinero$ /oraculos/dinero/oraculo-oportunidad-dinero.html [L]
RewriteRule ^oraculo-subida-sueldo$ /oraculos/dinero/oraculo-subida-sueldo.html [L]
RewriteRule ^oraculo-suerte-dinero$ /oraculos/dinero/oraculo-suerte-dinero.html [L]
RewriteRule ^oraculo-tendre-dinero$ /oraculos/dinero/oraculo-tendre-dinero.html [L]
RewriteRule ^oraculo-trabajo-pronto$ /oraculos/dinero/oraculo-trabajo-pronto.html [L]
RewriteRule ^oraculo-sere-rico$ /oraculos/dinero/oraculo-sere-rico.html [L]
RewriteRule ^oraculo-sere-millonario$ /oraculos/dinero/oraculo-sere-millonario.html [L]